{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/books/{{book.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Create New Book</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="{{ book.title }}"
                value="{{ book.title }}"
                class="form-control"
            >
            <label class="form-label">Author:</label>
            <input 
                type="text" 
                name="author" 
                placeholder="{{ book.author }}" 
                value="{{ book.author }}" 
                class="form-control"
            >
            <label class="form-label">Genre:</label>
            <input 
                type="text" 
                name="genre"
                placeholder="{{ book.genre }}"
                value="{{ book.genre }}"
                class="form-control"
            >
            <label class="form-label">Have read:</label>
            <input 
                type="checkbox" 
                name="haveRead" 
                class="form-check-input"
                {% if book.haveRead %}
                    checked
                {% endif %}
            >
            <br>
            <label class="form-label">Notes</label>
            <input
            type="text"
            name="review"
            placeholder="Here you can write your thoughts about the book"
            value="{{ book.review }}"
            class="form-control">
        </fieldset>
        <input type="submit" value="Edit Book" class="btn btn-success">
    </form>
</div>
{% endblock %}