{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md mt-3 p-3">
    <article>
        <h2>{{ book.title }} - {{book.author}} </h2>
        <h4>
            {% if book.haveRead%}
            Have Read
            {% else %}
            Haven't Read
            {%endif%}
        </h2>
        <h6 class="fst-italic">{{ book.genre }}</h6>

        <div class="review">
            <p>{{book.review }}</p>
        </div>
        {% if book.owner == userId %}
        <div class="d-gridgap-2 d-md-block mt-3">

            <a href="/books/{{ book.id }}/edit" class="btn">Edit</a>
            <form action="/books/{{ book.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn mt-2" style="background-color:#c5283d;">
            </form>
        </div>
        {% endif %}
    </article>
    <hr>
    <div class="comments">
    {% if loggedIn %}
        <div class="col-md-6">
            <form action="/comment/{{ book.id }}" method="POST">
            <fieldset>
                <legend>Add Comment</legend>
                <input class="form-control mb-1" type="text" placeholder="enter your comment..." name="comment" required>
            </fieldset>
            <input class="btn" type="submit" value="Submit">
            </form>
        </div>

    {% else %}
    <div class="col-md-6">
        <small>If you'd like to comment please log in...</small>
    </div>
    {% endif %}
    {% if book.comments.length > 0 %}
    <div class="container-sm justify-content-center">
        <div class="col-md-8 col-lg-6">
            {% for comment in book.comments %}
            {% render '../comment.liquid', comment: comment, userId: userId, book: book %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <small>no comments yet...</small>
    {% endif %}
    </div>
    </div>
{% endblock %}