{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>{{ book.title }} </h2>
        <h3>{{ book.author }}</h3>
        <h4>
            {% if book.haveRead%}
            Finished
            {% else %}
            Not Finished
            {%endif%}
        </h2>
        <h6>{{ book.genre }}</h6>

        <p>{{book.review }}</p>
        {% if book.owner == userId %}
        <div class="btn-group">

            <a href="/books/{{ book.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/books/{{ book.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
    </article>
    <hr>
    <h5>Comments</h5>
    <hr>
    {% if loggedIn %}
        <div class="col-md-6">
            <form action="/comment/{{ book.id }}" method="POST">
            <fieldset>
                <legend>Add Comment</legend>
                <label class="form-label">comment:</label>
                <input class="form-control mb-1" type="text" placeholder="enter your comment..." name="comment" required>
            </fieldset>
            <input class="btn" type="submit" value="add comment">
            </form>
        </div>

    {% else %}
    <div class="col-md-6">
        <small>If you'd like to comment please log in...</small>
    </div>
    {% endif %}
    <hr>
    {% if book.comments.length > 0 %}
    <div class="container-sm justify-content-center">
        <div class="col-md-8 col-lg-6">
            {% for comment in book.comments %}
            {% render '../comment.liquid', comment: comment, userId: userId, book: book %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <small>no comments yet...</small>
    {% endif %}
    </div>
{% endblock %}