{% layout "layout.liquid" %}
{% block content %}

<div class="container p-3">
   <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#create-wishlist">Add to List</button>
   <ul class="list-group gap-3 d-inline">
        {% for wishlistItem in wishlist %}
        <li class="list-group-item">
            {% if wishlistItem.isAvailable %}
            <input class="form-check-input me-1" checked data-wishlist-id="{{ wishlistItem.id }}" type="checkbox" id="firstCheckbox">
            {% if wishlist.user == userId %}
                    <form action="/wishlist/delete/{{ wishlistItem.id }}?_method=DELETE" method="POST">
                        <input class="btn btn-danger d-inline" type="submit" value="X">
                    </form>
                {% endif %}
            {% else %}
            <input class="form-check-input me-1" data-wishlist-id="{{ wishlistItem.id }}" type="checkbox" id="firstCheckbox">
            {% if wishlist.user == userId %}
                    <form action="/wishlist/delete/{{ wishlistItem.id }}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="X" style="display:right;">
                    </form>
                {% endif %}
            {% endif %}
            <label class="form-check-label" for="firstCheckbox">{{ wishlistItem.wishlist}}</label>
        </li>
        {% endfor %}
   </ul>
</div>
<!-- Modal -->
<div class="modal fade" id="create-wishlist" tabindex="-1" aria-labelledby="create-wishlist-label" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="create-wishlist-label">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
               <form action="/wishlist" method="POST">
                <fieldset>
                    <legend>New Wishlist</legend>
                    <label class="form-label">Title: </label>
                    <input 
                        type="text" 
                        name="wishlist" 
                        placeholder= "title"
                        class="form-control"
                    >
                </fieldset>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" data-bs-dismiss="modal" data-submit-button class="btn btn-success">Create New Wishlist</button>
         </div>
      </div>
   </div>
</div>

<script defer>
    const [form] = document.getElementsByTagName('form');
    const submitButton = document.querySelector('[data-submit-button]')
    const isAvailableInputs = document.querySelectorAll('[data-wishlist-id]')
    submitButton.addEventListener('click', () => {
        form.submit();
    })
    
    isAvailableInputs.forEach(input => {
        input.addEventListener('change', ({ target }) => {
            const id = target.getAttribute('data-wishlist-id')
            const payload = {
                isAvailable: target.checked,
                id
            }
            callBackend(id, payload)
        });
    })

    function callBackend(id, payload) {
        const url = '/wishlist/update'
        fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include',
                body: JSON.stringify(payload)
            }).then(response => {
                console.log(response)
            }).catch(err => {
                console.log(err)
            })
    }
</script>

{% endblock %}